@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
*
{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    width: 200px;
    height: 110px;
}
.header {
    background:lightgray;
    
}

#intro {
    background-image: url("images/orangeplant.jpeg");
    height: 100vh;
    background-size: cover;
  }

  /* Height for devices larger than 576px */
  @media (min-width: 992px) {
    #intro {
      margin-top: -58.59px;
    }
  }

  .mb-3{
    font-size: 80px;
  }